.side-menu-container {
  margin-top: 0;
  height: 100%;
  background: transparent;
  width: 100%;
  padding: 0;
}

.side-menu {
  width: 200px;
  height: 100%;
  border-right: 1px solid var(--color-border);
  background-color: var(--color-bg-2);
}

.side-menu .arco-menu {
  width: 100%;
}

.side-menu .arco-menu-inner {
  padding: 0 !important;
}

.arco-menu-item {
  color: #222 !important;
  background: transparent !important;
  transition: background 0.2s, color 0.2s;
}

.arco-menu-selected {
  background-color: #2468f2 !important;
  color: #fff !important;
  font-weight: 500 !important;
}

.arco-menu-item:not(.arco-menu-selected):hover {
  background-color: rgba(36, 104, 242, 0.1) !important;
  color: #2468f2 !important;
}

.menu-icon {
  margin-right: 8px;
}

.arco-menu-selected .menu-icon {
  color: #fff !important;
}